// src/assets/css/_variables.scss
// Đặt tất cả các biến tùy chỉnh của bạn ở đây để dễ quản lý

$navbar-height: 70px;
$footer-height: 100px;

// Màu sắc mở rộng
$brand-blue: #004085;
$brand-green: #155724;

// ... các biến khác